.admin{
    /* border: 1px silver solid; */
    max-height: 100vh;
    color: #01579b;
    font-weight: 700;
    font-family: 'Crimson Text', serif;
}

.admin-dashboard{
    width: 100%;
    /* border: 1px black solid; */
    font-size: 18px;
}

.box-admin{
    /* border: 1px red solid; */
    min-height: 90vh;
    background-color:'#05ce78' !important;
    color: #01579b;
}

.isi-dashboard{
    margin: 50px 0;
    height: 5vh;
    justify-content: center;
    text-align: center;
    padding-top: 6px;
    /* background-color: #69f0ae; */
    color:#01579b;
}

.box-list>div{
    max-width: 430px;
    margin-top: 15px;
    /* border: 1px solid black !important; */
    /* width: 400px; */
}

.list-box-content{
    width: 250px;
    justify-content: center;
}


.asu{
    -webkit-box-shadow: 5px 5px 15px 2px rgba(197,202,233,1);
    -moz-box-shadow: 5px 5px 15px 2px rgba(197,202,233,1);
    box-shadow: 5px 5px 15px 2px rgba(197,202,233,1);
}


.statistic-box{
    /* border: 1px pink solid; */
    width: 30%;
    margin: 5% 2% 0 2%;
    height: 40vh;
    font-size: 38px;
}