.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }

  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    margin: 20px 30px 20px 30px;
    min-height: 60vh;
    min-width: 40vh;
    max-width: 43vh;
    /* padding: 20px;
    font-size: 30px;
    text-align: center; */
  }

  .grid-item>div{
      border-bottom: 1px silver solid;
  }


.teswoi{
    width: 130vh;
    min-height: 86vh;
    position: relative;
}

.teswoi2{
    position: absolute;
    bottom: 0px;;
    /* margin-top: ; */
}