.explore-box{
    border: 1px black solid;
    height: 200vh;
}

.explore-search{
    /* border: 1px red solid; */
    border-top: 1px silver solid;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

.box-search-content{
    border: 1px solid black;
    margin: 20px 45px;
    height: 180vh;
    max-width: 100%;
    /* max-height: 100vh; */
}

.box-search-content-isi{
    border: 1px blue solid;
    margin: 1% 1%;
    max-width: 100%;
    height: 23%;
}

.box-search-content-isi > div{
    border: 1px green solid;
}
.box-search-content-isi > div > div{
    border: 1px pink solid;
    /* width: 20%; */
}

