.main-headercaterogy{
    border-bottom: silver 1px solid;
    height: 8vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 19px;
    
}

.box-category{
    color: #757575;
}