.main-header{
    height: 10vh;
    border-bottom: silver 1px solid;
    margin: 0;
    padding: 0;
}

.tes-font{
    font-family: 'Sigmar One', cursive;
    padding-top: 10px;
    margin-right: 30px;
}

.box-header{
    /* border: blue 1px solid; */
    margin: auto;
}