.jumbotron-2{
    height: 85vh;
    border-top: silver 1px solid;
    border-bottom: silver 1px solid;
    margin: 0;
    padding: 0;
}

.jumbotron2-box{
    /* border: 1px blue solid; */
    width: 20.7%;
    margin: 60px 15px;
    min-height: 96%;
    position: relative;
}

.jumbotron2-box>div{
    /* border: yellow 1px solid; */
    /* width: 100%;
    height: 45%; */
    justify-content: left;
    text-align: left;
}